

.footer .inside {
    display: flex;
    height: 300px;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
}

.footer .left {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

.footer .left button {
    font-family: satoshi;
    color: white;
    background-color: #000;
    text-transform: uppercase;
    font-weight: 600;
    width: 20%;
    font-size: 20px;
}

.footer .left input {
    font-family: satoshi;
    width: 60%;
    height: 10%;
}

.footer hr {
    border-top: #000 solid 4px;
    width: 100%;
}

.footer h1 {
    font-size: 4vw;
    font-weight: 900;
    font-family: Panchang;
    text-transform: uppercase;

}

.footer .right {
    margin-top: 70px;
    margin-right: 150px;
}

.footer .right h3 {
    font-family: Panchang;
    margin-bottom: 30px;
}

.footer ul {
    font-family: satoshi;
    list-style: none;
}

.footer ul li {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer p {
    font-family: Panchang;
    font-size: 10px;
    position: relative;
    top: -10px;
}